#bonuses.row-class
    div(is="bonus", v-for="(singleBonus, index) in bonuses",
        :single-bonus="singleBonus", :index="index", :key="index")

    //// 連續兩堂課
    //.class
    //    .class-bg
    //        img(src="./img/class2.png", alt="")
    //        img.stamp-finish(src="./img/stamp-finish.png", alt="")
    //        img.stamp-none(style="display:none", src="./img/stamp-none.png", alt="")
    //
    //// 連續三堂課
    //.class
    //    .class-bg
    //        img(src="./img/class3.png", alt="")
    //        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
    //        img.stamp-none(src="./img/stamp-none.png", alt="")
    //
    //// 連續四堂課
    //.class
    //    .class-bg
    //        img(src="./img/class4.png", alt="")
    //        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
    //        img.stamp-none(src="./img/stamp-none.png", alt="")
    //
    //// 連續五堂課
    //.class
    //    .class-bg
    //        img(src="./img/class5.png", alt="")
    //        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
    //        img.stamp-none(src="./img/stamp-none.png", alt="")