// banner 課表排課中
.box.banner-arrange(style="display: none;")
    img(src="./img/banner-arrange-class.png" alt="")

// banner 尚未購買e導師
.box.banner-buy-ecoach(style="display: none;")
    img(src="./img/banner-soon-ecoach.png" alt="")
    //- img(src="./img/banner-buy-ecoach.png" alt="")
    //- a.btn-ecoach(href="")
    //-     img(src="./img/btn-buy-ecoach.png" alt="")

// banner 完成課表
.box.banner-finish(style="display: none;")
    img(src="./img/banner-finish.png" alt="")

// banner 名額已滿
.box.banner-soldout
    //.iframe-soldout
    //    iframe(src='https://www.youtube.com/embed/ypIAa0-g_bY', width='100%', height='200px', frameborder='0', allowfullscreen='')
    a(href="https://bit.ly/2AGTJFz",target="_blank")
        img(src="./img/banner-soldout2.png" alt="")