.ecoach
    .row-header
        .subject 國一上國文
        .unit 唐詩四期
        .close-ecoach.flaticon-close
    .row-content
        .list
            .course
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.active
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
        .row-next
            a.next-btn(href="") 下一步

.ecoach-icon
    img(src="./img/ecoach/ecoach-icon.png", alt="")