.ecoach
    .row-header
        .subject 國一上國文
        .unit 唐詩四期
        .close-ecoach.flaticon-close
    .row-content
        .list
            .course
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.active
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
            .course.disabled
                .icon
                    i.flaticon-masterlist_classquiz
                .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                .seen(style="display:none")
                    .flaticon-done
                    svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                        polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
        .row-next
            a.next-btn(href="") 下一步
    
.ecoach-icon
    img(src="./img/ecoach/eicon.png", alt="")


//- .loading
//-     svg.text-line(height='100', width='500', stroke='#FF8A34', stroke-width='1')
//-         text(style="font-family: '微軟正黑體','Helvetica', times, serif; font-weight: bold; font-style: normal", x='0', y='90', fill='#fff', font-size='30') 系統自動引導學習途徑中，請稍候！