doctype html
html(lang='tw')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(type='text/css', href='https://www.ehanlin.com.tw/lesscss/ehanlin-basicss.css', rel='stylesheet')
        link(type='text/css', href='./css/tutor-coach.css', rel='stylesheet')
        link(type='text/css', href='./css/lib/flaticon.css', rel='stylesheet')
        link(type='text/css', href='./css/ecoach-widget.css', rel='stylesheet')
        link(type='text/css', href='./css/style.css', rel='stylesheet')
        link(type='image/png', href='./img/favicon.png', rel='icon')
        title 翰林雲端學院 - 線上學習首選 - 免費試用小中高課程

    body#testBasic
        header#ehanlin-header
        ol#ehanlin-navbar.navbar
            li.flaticon-header_curriculum
                a(href="") 學習課表
            li.flaticon-header_record
                a(href="") 課堂紀錄
            li.flaticon-header_mycourses
                a(href="") 我的課程
        .box.container-banner
            .title-bar.flaticon-header_curriculum  學習課表
            img.banner(src="./img/bg-banner.png", alt="")
            .row-class
                // 連續一堂課
                .class
                    .class-bg
                        img(src="./img/class1.png", alt="")
                        // class animation-stamp為蓋章的動畫
                        img.stamp-finish.animation-stamp(src="./img/stamp-finish.png", alt="")
                        img.stamp-none(style="display:none", src="./img/stamp-none.png", alt="")
                
                // 連續兩堂課
                .class
                    .class-bg
                        img(src="./img/class2.png", alt="")
                        img.stamp-finish(src="./img/stamp-finish.png", alt="")
                        img.stamp-none(style="display:none", src="./img/stamp-none.png", alt="")
                    
                // 連續三堂課
                .class
                    .class-bg
                        img(src="./img/class3.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")
                    
                // 連續四堂課
                .class
                    .class-bg
                        img(src="./img/class4.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")
                    
                // 連續五堂課
                .class
                    .class-bg
                        img(src="./img/class5.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")

            .row-gift
                .gift-bg
                    img(src="./img/cont-gift.png", alt="")
                .class-btn
                    // 領取獎勵按鈕
                    a.btn-get(href="")
                        img(src="./img/btn-get.png", alt="")
                    // 尚未達成按鈕
                    .btn-none(style="display:none")
                        img(src="./img/btn-none.png", alt="")


        // 引入課程內容的 vue 模組
        include vue/vue-courses.pug

        // banner課表排課中
        .box.banner-arrange
            img(src="./img/banner-arrange-class.png", alt="")
        // banner尚未購買e導師
        .box.banner-buy-ecoach
            img(src="./img/banner-buy-ecoach.png", alt="")
            a.btn-ecoach(href="")
                img(src="./img/btn-buy-ecoach.png", alt="")
        // banner完成課表
        .box.banner-finish
            img(src="./img/banner-finish.png", alt="")

        // 領獎popup
        .modal
            .modal-con
                .js-close-modal.flaticon-close
                .content-gift 恭喜獲得金幣100寶石10

        // widget 引入 e 導師
        include ./ecoach.pug
        footer#ehanlin-footer

        // x-template of Vue Component
        include ./x-template/template-course.pug

        script(data-module='ehanlin-header, ehanlin-menu, ehanlin-info-left-side, ehanlin-footer', src='https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/common_webcomponent/current/js/ehanlin-loader.js', type='text/javascript')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", type='text/javascript')
        script(src="./js/ecoach-widget.js")
        script(src="./js/index.js")
        script(src="http://labs.ehanlin.com.tw/coach-web/token.js")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js")
        script(src="./js/bundle.min.js")
