doctype html
html(lang='tw')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(type='text/css', href='https://www.ehanlin.com.tw/lesscss/ehanlin-basicss.css', rel='stylesheet')
        link(type='text/css', href='./css/tutor-coach.css', rel='stylesheet')
        link(type='text/css', href='./css/lib/flaticon.css', rel='stylesheet')
        link(type='text/css', href='./css/ecoach-widget.css', rel='stylesheet')
        link(type='text/css', href='./css/style.css', rel='stylesheet')
        link(type='image/png', href='./img/favicon.png', rel='icon')
        title 翰林雲端學院 - 線上學習首選 - 免費試用小中高課程

    body#testBasic
        header#ehanlin-header
        ol#ehanlin-navbar.navbar
            li.flaticon-header_curriculum 
                a(href="") 學習課表
            li.flaticon-header_record 
                a(href="") 課堂紀錄
            li.flaticon-header_mycourses
                a(href="") 我的課程
        .box.container-banner
            .title-bar.flaticon-header_curriculum  學習課表
            img.banner(src="./img/bg-banner.png", alt="")
            .row-class
                // 連續一堂課
                .class
                    .class-bg
                        img(src="./img/class1.png", alt="")
                        // class animation-stamp為蓋章的動畫
                        img.stamp-finish.animation-stamp(src="./img/stamp-finish.png", alt="")
                        img.stamp-none(style="display:none", src="./img/stamp-none.png", alt="")
                
                // 連續兩堂課
                .class
                    .class-bg
                        img(src="./img/class2.png", alt="")
                        img.stamp-finish(src="./img/stamp-finish.png", alt="")
                        img.stamp-none(style="display:none", src="./img/stamp-none.png", alt="")
                    
                // 連續三堂課
                .class
                    .class-bg
                        img(src="./img/class3.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")
                    
                // 連續四堂課
                .class
                    .class-bg
                        img(src="./img/class4.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")
                    
                // 連續五堂課
                .class
                    .class-bg
                        img(src="./img/class5.png", alt="")
                        img.stamp-finish(style="display:none", src="./img/stamp-finish.png", alt="")
                        img.stamp-none(src="./img/stamp-none.png", alt="")

            .row-gift
                .gift-bg
                    img(src="./img/cont-gift.png", alt="")
                .class-btn
                    // 領取獎勵按鈕
                    a.btn-get(href="")
                        img(src="./img/btn-get.png", alt="")
                    // 尚未達成按鈕
                    .btn-none(style="display:none")
                        img(src="./img/btn-none.png", alt="")

        .box.container-class

            // 單堂課程列
            .content-class
                .class-time
                    .date 2019年7月1日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 通貫古今--鄭伯克段于鄢
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(style="display:none", href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(style="display:none", href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready(style="display:none")
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime
                    // 尚未開課
                    .class-btn-noclass(style="display:none")
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check(style="display:none")
                        img(src="./img/btn-check.png", alt="")

            .content-class
                .class-time
                    .date 2019年12月23日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 通貫古今--鄭伯克段于鄢--左傳(一)(講義第114頁)
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(style="display:none", href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(style="display:none", href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready(style="display:none")
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime
                    // 尚未開課
                    .class-btn-noclass(style="display:none")
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check(style="display:none")
                        img(src="./img/btn-check.png", alt="")

            .content-class
                .class-time
                    .date 2019年12月23日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 通貫古今--鄭伯克段于鄢--左傳(一)(講義第114頁)
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(style="display:none", href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(style="display:none", href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready(style="display:none")
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime
                    // 尚未開課
                    .class-btn-noclass(style="display:none")
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check(style="display:none")
                        img(src="./img/btn-check.png", alt="")

            .content-class
                .class-time
                    .date 2019年12月23日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 第七堂 數列
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(style="display:none", href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(style="display:none", href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(style="display:none", href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime 59分59秒
                    // 尚未開課
                    .class-btn-noclass(style="display:none")
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check(style="display:none")
                        img(src="./img/btn-check.png", alt="")

            .content-class
                .class-time
                    .date 2019年12月23日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 通貫古今--鄭伯克段于鄢--左傳(一)(講義第114頁)
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(style="display:none", href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(style="display:none", href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(style="display:none", href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready(style="display:none")
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime
                    // 尚未開課
                    .class-btn-noclass
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check(style="display:none")
                        img(src="./img/btn-check.png", alt="")

            .content-class
                .class-time
                    .date 2019年12月23日
                    .time 14:00-16:00
                .class-icon
                    img(src="./img/icon/icon.png", alt="")
                .class-detail
                    .course-subject 國一上數學
                    .course-unit 通貫古今--鄭伯克段于鄢--左傳(一)(講義第114頁)
                    .course-tool 學習工具：講義、筆、智慧型手機
                .class-gift
                    .gift-title 課堂獎勵
                    .gift-pic
                        img(src="./img/class-gift.png", alt="")
                .class-btn
                    // 已開始上課
                    a.class-btn-start(style="display:none", href="")
                        img(src="./img/btn-start.png", alt="")
                    // 補課
                    a.class-btn-add(style="display:none", href="")
                        img(src="./img/btn-add.png", alt="")
                    // 完成課程
                    a.class-btn-done(style="display:none", href="")
                        img(src="./img/btn-done.png", alt="")
                    // 即將上課
                    .class-btn-ready(style="display:none")
                        img(src="./img/btn-ready.png", alt="")
                        .flaticon-time.count-time#countTime
                    // 尚未開課
                    .class-btn-noclass(style="display:none")
                        img(src="./img/btn-noclass.png", alt="")
                    // 老師審核中
                    .class-btn-check
                        img(src="./img/btn-check.png", alt="")

        // banner課表排課中
        .box.banner-arrange
            img(src="./img/banner-arrange-class.png", alt="")
        // banner尚未購買e導師
        .box.banner-buy-ecoach
            img(src="./img/banner-buy-ecoach.png", alt="")
            a.btn-ecoach(href="")
                img(src="./img/btn-buy-ecoach.png", alt="")
        // banner完成課表
        .box.banner-finish
            img(src="./img/banner-finish.png", alt="")


        // 領獎popup
        .modal
            .modal-con
                .js-close-modal.flaticon-close
                .content-gift 恭喜獲得金幣100寶石10

        // widget
        .ecoach
            .row-header
                .subject 國一上國文
                .unit 唐詩四期
                .close-ecoach.flaticon-close
            .row-content
                .list
                    .course
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                    .course.active
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen(style="display:none")
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                    .course.disabled
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen(style="display:none")
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                    .course.disabled
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen(style="display:none")
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                    .course.disabled
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen(style="display:none")
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                    .course.disabled
                        .icon
                            i.flaticon-masterlist_classquiz
                        .title 唐詩四期(一)唐詩四期(一)唐詩四期(一)唐詩四期(一)
                        .seen(style="display:none")
                            .flaticon-done
                            svg#tick.svg(version='1.1', viewBox='6 5 26 26')
                                polyline.path(points='11.6,20 15.9,24.2 26.4,13.8')
                .row-next
                    a.next-btn(href="") 下一步

        .ecoach-icon
            img(src="./img/ecoach/ecoach-icon.png", alt="")
        footer#ehanlin-footer
        script(data-module='ehanlin-header, ehanlin-menu, ehanlin-info-left-side, ehanlin-footer', src='https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/common_webcomponent/current/js/ehanlin-loader.js', type='text/javascript')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", type='text/javascript')
        script(src="./js/ecoach-widget.js")
        script(src="./js/index.js")
    