// 領獎popup
.modal
    .modal-con.modal-style
        .js-close-modal.flaticon-close
        .content-gift

// 未登入popup
.popup-unlogin.hide
    .popup-con
        .popup-title 目前還未登入哦！
        a.btn-login(href="https://www.ehanlin.com.tw/Users/login.html?redirect=/app/coach/") 馬上登入開始上課
        a.btn-intro 看看e導師有哪些功能