// 領獎popup
.modal
    .modal-con.modal-style
        .js-close-modal.flaticon-close
        .content-gift

// 未登入popup
.popup-unlogin.hide
    .popup-con
        .popup-title 目前還未登入哦！
        a.btn-login(href="/app/member-center/login.html?redirect=/app/coach/") 馬上登入開始上課
        a.btn-intro 看看e家教有哪些功能