script(type="text/x-template" id="template-history")
    li.group
        input.list-switch-input(:id="historyInfo.courseId",level="0",type="checkbox")
        label.title(:for="historyInfo.courseId")
            span.info {{ historyInfo.courseName }}
            span.status.wait(v-if="!historyInfo.isChecked && !historyInfo.isRejected") 審核中
            span.status.pass(v-show="historyInfo.isChecked") 審核通過
            span.status.fail(v-show="historyInfo.isRejected") 審核不通過
            span.status.class-notes-disabled(v-if="!historyInfo.isChecked && !historyInfo.isRejected") 上課筆記
            a.status.class-notes(:href="'/eTutor/view-file?type=課堂筆記&userCourse=' + historyInfo.courseId",
                target="_blank", v-if="historyInfo.isChecked || historyInfo.isRejected") 上課筆記
            span.status.course-diary-disabled(v-if="!historyInfo.isChecked && !historyInfo.isRejected") 課後日誌
            a.status.course-diary(:href="'/coach-web/diary-view.html?userCourse=' + historyInfo.courseId",
                target="_blank", v-if="historyInfo.isChecked || historyInfo.isRejected") 課後日誌
            span.action
                span.switch
                    i.fa.fa-chevron-circle-down

        ol.eh-list.level-2
            li.textbook.TEACH(v-for="(item, index) in historyInfo.items" :key="item._id")
                input.list-switch-input.TEACH(:id="item._id",level="2",type="checkbox")
                label.title(:for="item._id")
                    span.info(@click="item.redirect")
                        span.type
                            span.icon
                                i(:class="item.class")
                            span.title {{ item.type }}
                        span.title {{ item.name }}
                        span.info.duration {{ item.startTime }} - {{ item.endTime }}
                    span.action
                    span.seen
        hr.class-hr