script(type="text/x-template" id="template-item")
    .item
        .item-img
            img(:src="singleItem.url")
        .item-detail
            .item-name {{ singleItem.name }}
            .item-point 兌換點數 {{ singleItem.point }}
        .item-btn(@click="checkExchange()")
            // 領取獎勵按鈕
            .btn-get
                img(src="./img/btn-get.png", alt="")
