script(type="text/x-template" id="template-history")
    li.group
        input.list-switch-input(:id="historyInfo.courseId",level="0",type="checkbox")
        label.title(:for="historyInfo.courseId")
            span.info {{ historyInfo.courseName }}
            span.status.pass(v-show="historyInfo.isChecked") 審核通過
            span.status.fail(v-show="historyInfo.isRejected") 審核不通過
            span.detail(v-show="historyInfo.isChecked")
                span 金幣
                span.ecoin {{ historyInfo.coins }}
                span 寶石
                span.diamond {{ historyInfo.gems }}
            span.action
                span.switch
                    i.fa.fa-chevron-circle-down
            article.row-feedback
                div(v-html="historyInfo.message")

        ol.eh-list.level-2
            li.textbook.TEACH(v-for="(item, index) in historyInfo.items" :key="item._id")
                input.list-switch-input.TEACH(:id="item._id",level="2",type="checkbox")
                label.title(:for="item._id")
                    span.info
                        span.type
                            span.icon
                                i(:class="item.class")
                            span.title {{ item.type }}
                        span.title(@click="item.redirect") {{ item.name }}
                        span.info.duration {{ item.startTime }} - {{ item.endTime }}
                    span.action
                    span.seen
        hr.class-hr