script(type="text/x-template" id="template-bonus")
    .class
        .class-bg
            img(:src="`./img/class${index + 1}.png`")
            // class animation-stamp為蓋章的動畫
            img(class="stamp-finish" src="./img/stamp-finish.png"
                :id="`stamp{index}`"
                :class="{ 'animation-stamp' : singleBonus.isAnimationStamp }",
                v-show="singleBonus.isStampFinish")
            img(class="stamp-none" src="./img/stamp-none.png"
                v-show="singleBonus.isStampNone")