script(type="text/x-template" id="template-course")
    .content-class(:id="singleCourseId")
        .class-time
            .date {{ singleCourse.startDate }}
            span ~
            .date {{ singleCourse.endDate }}
        .class-icon
            img(src="./img/icon/icon.png" alt="")
        .class-detail
            .course-subject {{ singleCourse.subject }}
            .course-unit {{ singleCourse.unit }}
            .course-tool {{ singleCourse.tool }}
        .class-gift
            .gift-pic(id="single-course-gift-received")
                img(src="./img/class-gift.png" alt="")
                .gift-diamond {{ singleCourse.gems }}
                .gift-ecoin {{ singleCourse.coins }}
        .class-btn(v-if="singleCourse.eTutorStatus !== 'no-class' && singleCourse.eTutorStatus !== 'done'" :class="singleCourse.eTutorStatus")
            div(:class="[singleCourse.eTutorStatus !== 'not-ready' ? 'class-btn-start' : '']")
                a(:href="singleCourse.eTutorUrl" target="_blank" :class="[singleCourse.eTutorStatus !== 'not-ready' ? '' : 'disabled']"
                    v-if="singleCourse.eTutorStatus !== 'done' || singleCourse.hasCourseItem" @click="singleCourse.tutorAction")
                    img.focus-animation(src="./img/btn-eTutor-ready.png" alt="" v-if="singleCourse.eTutorStatus === 'ready'")
                    img(src="./img/btn-eTutor-ready.png" alt="" v-if="singleCourse.eTutorStatus === 'start'")
                    img(src="./img/btn-eTutor-noclass.png" alt="" v-if="singleCourse.eTutorStatus === 'not-ready'")
        .class-btn(v-if="singleCourse.eTutorStatus === 'done' && !singleCourse.hasCourseItem" :class="singleCourse.eTutorStatus")
            div.class-btn-done
                img(src="./img/btn-done.png" alt="" @click="singleCourse.action")
        .class-btn(v-if="singleCourse.hasCourseItem")
            // 已開始上課
            div(:class="singleCourse.classBtnCss"
                @click="singleCourse.action")
                img(:src="singleCourse.classBtnImg" alt="")